body {
    background-color: White;
    color: black;
}
h2 {
    color: Black;
    background-color: #2E5EAA;
    font: Georgia, Arial, serif;
    font-size: 4em;
    text-align: center;
}
button {
    background-color: #7CEA9C;
    border: none;
    color: Black;
    padding: 15px 32px;
    text-align: center;
    font-size: 1em;
    border-radius: 8px;
    align: center;
}